node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
.svelte-kit/
.vscode/
build/
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test
.npmrc

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# backend
.venv/

# intermediate data jsons
/data-retrieval/*.json